<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Tytuł strony, który można nadpisać w szablonach -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
    <!-- Link do wspólnego arkusza stylów CSS-->
    <meta name="csrf-token" content="{{ csrf_token()}}" />
    <!-- Meta tag z tokenem CSRF-->
</head>

<body>
    {% include 'partials/flash_messages.html' %}
    {% block body %}
    {% endblock %}
    <div class="modal-overlay" id="applyModal">

        <div class="modal">

            <!-- HEADER -->

            <div class="modal-header">

                <h2 id="modalJobTitle">
                    Aplikuj
                </h2>

                <button class="modal-close" id="closeModal">
                    ×
                </button>

            </div>

            <!-- FORM -->

            <form method="POST" id="applyForm">

                <input type="hidden" name="job_id" id="modalJobId">

                <div class="form-group">

                    <label>Status</label>

                    <select name="status" class="form-control">

                        <option value="saved">
                            Zapisane
                        </option>

                        <option value="applied">
                            Zaaplikowano
                        </option>

                        <option value="interview">
                            Rozmowa
                        </option>

                    </select>

                </div>

                <div class="form-group">

                    <label>Link do aplikacji</label>

                    <input type="text" name="application_url" class="form-control">

                </div>

                <div class="form-group">

                    <label>Notatki</label>

                    <textarea name="notes" class="form-control" rows="5"></textarea>

                </div>

                <button class="btn">
                    Zapisz aplikację
                </button>

            </form>

        </div>

    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Link do skryptu JavaScript -->



</body>

</html>