{% extends 'layouts/dashboard_base.html' %}

{% block title %}Appications{% endblock %}

{% block dashboard_content %}

<div class="dashboard">
    <div class="kanban-wrapper">
        <div class="kanban-board">

            {% for status, applications
            in grouped_applications.items()
            %}

            <div class="kanban-column" data-status="{{ status.name}}">

                <div class="kanban-header">

                    <h3>
                        {{ status.value }}
                    </h3>

                    <span class="kanban-count">
                        {{ applications|length }}
                    </span>

                </div>

                <div class="kanban-cards">

                    {% for application in applications %}

                    <div class="kanban-card" draggable="true" data-application-id="{{ application.id }}">

                        <h4>
                            <a href="{{ url_for(
            'jobs.job_details',
            job_id=application.job_offer.id
        ) }}">
                                {{ application.job_offer.title }}
                            </a>

                        </h4>

                        <p>
                            {{ application.job_offer.company }}
                        </p>

                        <small>
                            {{ application.job_offer.location }}
                        </small>

                    </div>

                    {% endfor %}

                </div>

            </div>

            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}