# Python
__pycache__/
*.py[cod]
*$py.class
migrations/__pycache__/


# Virtual environment
venv/
.venv/
env/

# Flask
instance/
.webassets-cache/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Stare pliki/foldery robocze moje
stare/