<div class="form-main">
    <aside class="sidebar">
        <div>
            <div class="logo">
                <h1>JobTracker</h1>
                <p>Zarządzaj swoimi aplikacjami</p>
            </div>
            <nav class="menu">
                <a href="/dashboard">Strona główna</a>
                <a href="/jobs">Oferty</a>
                <a href="#">Moje aplikacje</a>
                <a href="#">Rozmowy</a>
                <a href="#">Kalendarz</a>
                <a href="#">Notatki</a>
                <a href="#">Statystyki</a>
                <a href="#">Ustawienia</a>
            </nav>
        </div> <a href="/logout" class="logout">Wyloguj się</a>
    </aside>
</div>