{% extends 'layouts/dashboard_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}

<div class="dashboard">

    <div class="dashboard-main">
        <div class="dashboard-main-left">
            <h1>Witaj, {{ current_user.first_name }} 👋</h1>
            <p>Oto podsumowanie Twoich działań</p>
        </div>

        <div class="dashboard-main-right">
            Miejsce na zdjęcie
        </div>
    </div>


    <div class="kanban-wrapper">
        <div class="kanban-board">

            {% for status, applications
            in grouped_applications.items()
            %}

            <div class="kanban-column" data-status="{{ status.name}}">

                <div class="kanban-header">

                    <h3>
                        {{ status.value }}
                    </h3>

                    <span class="kanban-count">
                        {{ applications|length }}
                    </span>

                </div>

                <div class="kanban-cards">

                    {% for application in applications %}

                    <div class="kanban-card" draggable="true" data-application-id="{{ application.id }}">

                        <h4>
                            {{ application.job_offer.title }}
                        </h4>

                        <p>
                            {{ application.job_offer.company }}
                        </p>

                        <small>
                            {{ application.job_offer.location }}
                        </small>

                    </div>

                    {% endfor %}

                </div>

            </div>

            {% endfor %}

        </div>
    </div>
    <!--
    <div class="summary">
        <div>Wszystkie aplikacje</div>
        <div>W trakcie</div>
        <div>Rozmowy</div>
        <div>
            <h3>Oferty zapisane</h3>
            {% for saved_offer in latest_saved_jobs %}
            <li>

                <a href="{{ url_for(
            'jobs.job_details',
            job_id=saved_offer.job_offer.id
        ) }}">

                    {{ saved_offer.job_offer.title }}

                </a>

                <p>
                    {{ saved_offer.job_offer.company }}
                </p>

            </li>
            {% endfor %}
        </div>
    </div>

-->
</div>

<div class="dashboard-grid">

    <div class="card">
        <h3>Najbliższe spotkania</h3>
        <p>Tutaj spotkania z kalendarza</p>
        <a href="#">Zobacz kalendarz</a>
    </div>

    <div class="card">
        <h3>Ostatnie aplikacje</h3>
        <p>Status ostatnich aplikacji</p>
        <a href="#">Zobacz wszystkie</a>
    </div>

    <div class="card">
        <h3>Statystyki</h3>
        <p>Wykres aplikacji</p>
    </div>

    <div class="card">
        <h3>Ostatnie notatki</h3>
        <p>Przygotować się do React...</p>
        <a href="#">Zobacz notatki</a>
    </div>

</div>


{% endblock %}