<div class="offer-card">
    <div class="offer-top">
        <h3>
            <a href="{{ url_for(
            'jobs.job_details',
            job_id=offer.id
        ) }}">
                {{ offer.title }}
            </a>

        </h3>
        <span>
            {{ offer.company }}
        </span>
    </div>

    <div class="offer-meta">

        <p>{{ offer.location }}</p>

        {% if offer.salary_min %}

        <p>
            {{ offer.salary_min }}
            -
            {{ offer.salary_max }}
            PLN
        </p>

        {% else %}

        <p>Wynagrodzenie nie podane</p>

        {% endif %}

        <p>
            {{ offer.type_of_contract.value }}
        </p>

    </div>

    <div class="offer-actions">


        <!--
        <a href="{{ url_for(
            'jobs.job_details',
            job_id=offer.id
        ) }}" class="btn-small">

            Szczegóły

        </a>
        -->



        {% if current_user.is_authenticated %}

        <button class="btn-save {% if offer.id in saved_offer_ids %} saved {% endif %}" data-job-id="{{offer.id}}">
            {% if offer.id in saved_offer_ids %}
            Zapisano
            {% else %}
            Zapisz
            {% endif %}
        </button>

        <button class="btn-apply {% if offer.id in applied_offer_ids %} applied {% endif %}"
            data-job-id="{{ offer.id }}" data-job-title="{{ offer.title }}">
            {% if offer.id in applied_offer_ids %}
            Zaaplikowano
            {% else %}
            Aplikuj
            {% endif %}
        </button>

        {% else %}

        <a href="{{ url_for('auth.login') }}" class="btn-save">

            Zaloguj się

        </a>

        {% endif %}

    </div>

</div>