{% extends 'layouts/guest_base.html' %}

{% block title %}
JobTracker
{% endblock %}

{% block guest_content %}
{% if not current_user.is_authenticated %}
<section class="hero-section">
    <div class="hero-content">
        <h1>
            Wszystkie aplikacje
            w jednym miejscu
        </h1>
        <p>
            Organizuj aplikacje,
            monitoruj status rekrutacji
            i zdobywaj pracę szybciej.
        </p>
        <div class="feature-list">

            <div>✓ Śledzenie aplikacji</div>
            <div>✓ Statusy rekrutacji</div>
            <div>✓ Historia kontaktu</div>
        </div>
    </div>
</section>
{% endif %}



<section class="home-jobs-section">
    <div class="jobs-header">
        <div>
            <h2>Najnowsze oferty</h2>
            <p>
                Przeglądaj aktualne oferty pracy
            </p>
        </div>
    </div>

    <div class="search-wrapper">
        <!-- 🔍 WYSZUKIWARKA TUTAJ -->
        <form class="job-search" method="GET" action="{{ url_for('jobs.jobs') }}">

            <input type="text" name="query" placeholder="Stanowisko lub firma..."
                value="{{ request.args.get('query', '') }}" />

            <input type="text" name="location" placeholder="Lokalizacja..."
                value="{{ request.args.get('location', '') }}" />

            <button type="submit">
                Szukaj
            </button>

        </form>

    </div>

    <div class="offers-grid">

        {% for offer in offers %}

        {% include 'jobs/partials/offer_card.html' %}

        {% endfor %}

    </div>
</section>

{% endblock %}